body{
    background-image: url(sci-fi-bg.jpg);
    height: 900px; 
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    
}
#container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    
}
#displayContainer{
    border: 3px solid white;
    height: 200px;
    width: 850px;
    padding: 25px;
    margin: 20px;
    font-size: 150px;
    font-family: 'Orbitron', sans-serif;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
}
button{
    width: 100px;
    height: 40px;
    font-family: 'Orbitron', sans-serif; 
}
.timerSet{
    display: flex;
    font-family: 'Orbitron', sans-serif;
    background-color: black;
    color: white;
    font-size: larger;
    
}
.display{
    display: flex;
    justify-content: center;
    width: 100px;
    height: 40px;
}
.controls{
    margin: 10px;
}